.calculator-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
}
.input-display {
  height: 60px;
  text-align: right;
  border: 1px solid #c8cad3;
}
.numbers-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
}

.top-notation-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 430px;
}
.number-pad-display {
  display: flex;
  flex-direction: row;
  width: 430px;
  justify-content: space-between;
}

.notations-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
}
